Options -Indexes
DirectoryIndex index.php

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /mini_pro_rideally/

    RewriteRule ^config/ - [F,L]
    RewriteRule ^includes/ - [F,L]
</IfModule>